.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:500px;
  padding: 16px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  background-color:white;
}

.body {
  background-color:lightgray;
  padding: 2px 16px;
}